:root {
    --cor-primaria: #055a05; /* verde-floresta */    
    --cor-destaque1: #bd3c00; /* azul-escuro acinzentado */    
    --fonte-titulo: "Times New Roman", "Georgia", serif;
    --fonte-body: Arial, Helvetica, sans-serif;
    --cor-preta: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 15rem 1fr;
    align-items: center;
}

.navegacao {
    display: flex;
    list-style: none; /* remove as bolinhas da lista */
    gap: 20px;
}

body {
    font-family: var(--fonte-body);
    
}

header, main, footer {
    width: 840px;
    margin: 0 auto;    
}

main header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

main section {
    display: flex;
    gap: 40px;
    justify-content: center;    
}

iframe {
    width: 350px;
    height: 300px;
    background-color: #055a05;
}

.formulario {
    display: grid;    
    width: 350px;      
}

.nome, .email {
    display: flex;
    gap: 10px;    
    width: 100%;
    justify-content: space-between;    
}

.txt-nome{    
    height: 27px;
    display: flex;
    align-items: center;
}

.input-form{
    width: 255px;
    height: 30px;        
}

form {
    display: grid;
    font-size: 15px;    
}

.form-radio {    
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
}

.prop-msg {
    display: flex;
    height: 70px;
}

.prop-radio {
    display: flex;
    align-items: center;    
    width: 25%;
    margin-right: 5px;
}

.mensagem {
    display: grid;
}

textarea {
    height: 60px;
}

.check {    
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

li {    
    flex: 0.5 0.5 auto;
    text-align: center;
    width: 8rem;
    height: 2rem;
    background-color: var(--cor-destaque1);    
    line-height: 2rem; /* define a altura da linha do obj dentro da lista <a> */
    border-radius: 6px;
    color: white;
}

li a {
    text-decoration: none;
    color: white;
    display: block; /* aumenta area da caixa de clicar pegando toda area da lista */
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;    
    background-color: var(--cor-destaque1);
    color: #fff;
    opacity: 0.7;
    font-family: var(--fonte-titulo);
  }

h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
    text-align: center;  
}

.hero article{      
    position: absolute;    
    width: 80%;
    left: 8%;    
    bottom: 20px;
    background-color: var(--cor-primaria);    
    color: white;
    padding: 5px;
    opacity: 0.6;
    line-height: 1.3;
}

.section-historia {
    color: var(--cor-preta); 
    margin-top: 15px;   
    line-height: 25px;
    text-align: center;
}

.section-aventura {
    margin: 10px 0 20px 0;
}

.aventura-div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px ;
    color: var(--cor-primaria);
}

.imagem-aventura {
    width: 145px;
    height: auto;
    border-radius: 5px;
}

figure {
    text-align: center;
    font-size: 0.9rem;
}

.hero article img {
    float: right;
    width: 140px;
    height: auto;
}

main footer {
    background-color: #dadada;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 740px;
    margin: 20px auto 10px auto;   
    padding: 10px 10px 0px 10px;
    border: 2px solid gray;
}

figure {
    display: flex;    
    gap: 80px;    
}

figure img {
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.img {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;    
}

footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;    
}

footer p {
    grid-column: 2;
    text-align: center;
    color: black;
}

.titulo-contato {
    font-size: 1.5rem;
}

nav {
    display: flex;
    gap: 10px;    
    justify-content: end;
}

nav a img {
    width: 30px;
    height: auto;
}