:root { /* seletor :root{ } onde guarda as variaveis css */
    --background-color: darkblue;
    --font-color: darkblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--background-color);    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    height: 2.5rem;
    margin-bottom: 0.5rem;
}

nav a {
    color: white;
    display: block;    
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
}

.grid {
    display: grid;
    align-items: start;
    grid-template-columns: 20rem 1fr;
    gap: 0.5rem;
    margin: 0.8rem auto 0 auto;
    width: 52rem;
}

h1 {    
    width: 100%;
    color: var(--font-color);
    border-bottom: 1px solid var(--font-color);    
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: -0.7rem;
}

h2 {
    color: black;
}

main {
    
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    width: 10rem;
    height: auto;
    border: 1px solid black;
    padding: 0.2rem;
    box-shadow: 0 0 10px rgb(167, 167, 167);
    float: right;
    margin-top: 0.2rem;
    margin-left: 1rem;
}

p {
    line-height: 20px;        
}

aside {
    width: 20rem;
    height: 23rem; 
    color: #333;
    text-align: center;
    position: relative; /* faz com que esse elemento pai assegure que os elementos filhos não sairao dele */
    grid-column: 1/2;
    grid-row: 1/2;
  }

aside img {
    width: 12rem;
    height: auto;
    box-shadow: 0 0 10px rgb(167, 167, 167);
}

aside h2 {
    position: absolute; /* faz com que esse elemento se sobreponha dentro do aside */
    /* left: 50%; leva o lado esquerdo até o meio */
    /* transform: translateX(-50%); volta metade da largura do h2 */
    top: 147px;
    left: 20px;
}

.identacao {
    margin-bottom: 0.5rem;
}

.caixa {
    
    border: 1px solid rgb(0 0 0 / 0.2); /* O valor RGB consiste em quatro valores: vermelho, verde, azul e alfa. Os três primeiros valores (0, 0, 0) representam preto, e o último valor, de .2 (20%), representa o alfa, ou opacidade da cor. */
    padding: 1rem;
    background-color: #eee;
    height: 97%;
}

.ul {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    background-color: #eee;
    border: 1px solid rgb(0 0 0 / 0.2);
    height: 4.3rem;
    justify-content: center;
}

header, footer .grid {        
    text-align: center;
    max-width: 840px;
    margin: 0 auto;
  }

footer p {
    text-align: center;
  }